# Server Configuration
SERVER_PORT=8081

# Database Configuration
DB_HOST=aws-1-sa-east-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.fbcdvhoectqyofnezwfe
DB_PASSWORD=QqODFGGDCAKyD5h6
DB_NAME=postgres
DB_SSLMODE=enabled

# JWT Configuration
JWT_SECRET=a9F3kL7QxR2ZP8mVwD6H4JcN5EBySUTG

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:8080,http://localhost:8082,http://localhost:8083

